name: Deploy (Next.js -> Vercel)

on:
    push:
        branches: ["main"]
    
permissions:
    contents: read
    packages: write

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: docker/setup-buildx-action@v3
        
        - name: Login to GHCR
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Setup Node
          uses: actions/setup-node@v4
          with:
                node-version: "20"
                cache: "npm"

        - name: Install deps
          run: npm ci

        - name: Lint (optional)
          run: npm run lint --if-present

        - name: Test (optional)
          run: npm test --if-present

        - name: Build
          run: npm run build

        - name: Docker meta
          id: meta
          uses: docker/metadata-action@v5
          with:
            images: |
              ghcr.io/${{ github.repository }}
            tags: |
              type=ref,event=branch
              type=sha

        - name: Build and push image (GHCR)
          uses: docker/build-push-action@v6
          with:
            context: .
            file: dockerfile
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}